<!DOCTYPE html> 
<html> 
<head>
    <meta charset="utf-8" >
    <title>Vue 示例</title>
</head> 
<body>
    <div id="app">
        <li v-for="(book,index) in books">{{ index }} - {{book.name }}</li>
        <!-- v-fof用在<template>标签上 -->
        <template v-for="Book in Books">
            <li>书名： {{ Book.name }}</li>
            <li>作者： {{ Book.author }}</li>
        </template>
        <!-- 遍历对象的属性 -->
        <span v-for="value in user">{{ value }}</span>
        <!-- 遍历对象属性时，有两个可选参数，分别是键名和索引 -->
        <ul>
            <li v-for="(value,key,index) in user">
                {{ index }} - {{ key }}: {{ value }}
            </li>
        </ul>
        <!-- v-for还可以迭代整数 -->
        <span v-for="n in 10">{{ n }}</span>
    </div>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script>
            var app = new Vue({ 
                el:'#app',
                data: {
                    books: [
                        { name: 'aaa'},
                        { name: 'bbb'},
                        { name: 'ccc'}
                    ],
                    Books: [
                        {
                            name: '《Vue.js实战》',
                            author: '梁灏'
                        },
                        {
                            name: '《JavaScript 语言精粹》',
                            author: 'Douglas Crockford'
                        },
                        {
                            name: '《JavaScript 高级程序设计》',
                            author: 'Nicholas C.Zakas'
                        }
                    ],
                    user: {
                        name: 'biabia',
                        gender: '女',
                        age:21
                    }
                }            
            });
            
            //找出含有JavaScript关键词的书目
            app.Books = app.Books.filter(function (item) {
                return item.name.match(/JavaScript/);
            });
        </script> 
</body> 
</html>